<template>
    <div id="app">
        <div v-if="isLoading" class="spinner d-flex justify-content-center align-items-center">
            <b-spinner style="width: 3rem; height: 3rem;" variant="primary" label="Spinning" type="grow"></b-spinner>
        </div>
        <div class="container">
            <div class="header d-flex justify-content-center align-items-center">
                <router-link class="zhaw-logo"  to="/start"><img alt="ZHAW Logo" src="./assets/ZHAW_Logo.svg">
                </router-link>
                <div class="flex-grow-1 zhaw-title">
                    <p class="zhaw">Zürcher Fachhochschule für Angewandte Wissenschaften</p>
                    <span>Weiterbildungsberater</span>
                </div>
            </div>
            <ProgressBar v-if="['initial','page','result','contact'].includes(currentRouteName)" :progress-value="['result','contact'].includes(currentRouteName) ? 100 : progressValue" is-animated />

            <div class="row">
                <div class="col">
                    <InternetExplorerCheck/>
                    <router-view/>
                </div>
            </div>
        </div>
        <div class="text-center mt-2" style="font-size: 10px;"><span v-on:click="openVersionTab()" class="pointer">Version {{version}}</span></div>
    </div>
</template>


<script>

    import InternetExplorerCheck from "./components/helper-components/InternetExplorerCheck";
    import sharedStore from "./state-management/store";
    import ProgressBar from "./components/helper-components/ProgressBar";

    export default {
        name: 'app',
        components: {InternetExplorerCheck, ProgressBar},
        computed: {
            progressValue: function () {
                return sharedStore.state.progressValue
            },
            currentRouteName() {
                return this.$route.name;
            },
            isLoading(){
                return sharedStore.state.isLoading;
            },
            version(){
                return sharedStore.version;
            }
        },
        methods:{
            openVersionTab(){
                var newWindow = window.open();
                if(sharedStore.state.recommenderResultOutput){
                    newWindow.document.body.innerHTML = "<h1>ZHAW Online Recommender, Version "+sharedStore.version+"</h1></br>"+sharedStore.state.recommenderResultOutput;
                }else{
                    newWindow.document.body.innerHTML = "<h1>ZHAW Online Recommender, Version "+sharedStore.version+"</h1></br>";
                }
            }
        }
    }


</script>

<style>
    /* Global styles should probably be used with css/scss imports, and not in this component,
    but it is the easiest and fastest way. */
    :root{
        --primary: #0064a6 !important;
    }

    #app {
        font-family: Arial, Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #333333;
    }

    .spinner{
        position: fixed;
        z-index: 999999;
        height: 100%;
        width: 100%;
        background: rgba(255,255,255,0.6);
    }

    .btn{
        border-radius: 0 !important;
    }

    button, a {
        margin: 2px !important;
    }

    .header{
        background-color: #0064a6;
    }

    .zhaw-logo  {
        margin: 20px !important;
        height: 80px !important;
        width: 80px !important;
    }

    .zhaw-logo img{
        width: 100%;
        height: 100%;
    }


    .zhaw-title {
        display: inline-block;
        font-size: 16pt;
        font-weight: bold;
        color: white;
    }

    .zhaw-title .zhaw{
        font-size: 10pt;
        font-weight: bold;
        margin:0;
    }

    .actions {
        margin-top: 40px;
    }

    .zhaw-tooltip, .zhaw-icon {
        margin-left: 5px;
        color: #555555;
    }

    .back-button {
        margin-bottom: 10px;
    }

    .btn-primary {
        min-width: 150px;
    }

    .question-wrapper {
        width: 100%;
    }

    .question-wrapper .question-header {
        width: 100%;
        height: 150px;
        background-size: cover !important;
    }

    .question-wrapper .question-text, .single-likert .question, .single-text-selection .question, .multiple-picture-selection .question {
        text-align: center;
        width: 100%;
        font-size: 16pt;
        padding: 0 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .question-wrapper .question-content {
        margin-bottom: 30px;
    }

    /* SINGLE LIKERT  */

    .single-likert .question {
        margin-bottom: 50px;
    }

    .single-likert .single-likert-container > div {
        height: 10em;
        width: 10em;
    }

    .single-likert .single-likert-container .radio-custom-label {
        transition: all 0.2s ease-out;
        border: 1px solid #dcdcdc;
        font-size: 16pt;
        position: relative;
    }

    .single-likert .single-likert-container .radio-custom-label .icon-container {
        font-size: 1.5em;
        border-radius: 50%;
        position: absolute;
        height: 2.1em;
        width: 2.1em;
        top: -1em;
        background-color: #fff !important;
        border: 1px solid #dcdcdc;
    }

    /* SINGLE TEXT SELECTION */

    .single-text-selection .single-text-selection-container .radio-custom:checked ~ label {
        background: #007bff;
        color: white;
    }

    .single-text-selection .question {
        margin-bottom: 20px;
    }

    .single-text-selection .single-text-selection-container .radio-custom-label {
        transition: all 0.2s ease-out;
        border: 1px solid #dcdcdc;
        font-size: 12pt;
        position: relative;
        padding: 5px;
    }

    /* MULTIPLE PICTURE SELECTION */

    .multiple-picture-selection .multiple-picture-selection-container > div {
        height: 15em;
        width: 15em;
        margin: 10px;
        position: relative;
    }

    .multiple-picture-selection .multiple-picture-selection-container .picture-checker-label {
        transition: all 0.2s ease-out;
        border: 1px solid #dcdcdc;
        font-size: 16pt;
        position: relative;
        background-size: contain !important;
    }

    .multiple-picture-selection .multiple-picture-selection-container  .icon-container {
        font-size: 1.5em;
        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;
        position: absolute;
        top: 2px;
        right: 2px;
        color: #6c757d;
        background-color: #fff !important;
    }

    .picture-checker:checked ~ label {
        border: 10px solid  #007bff !important;
    }

    .picture-checker-label:hover{
        -webkit-box-shadow:none !important;
        box-shadow: none !important;
        opacity: 0.8;
    }

    .picture-checker-label .description{
        width: 100.5%;
        background: rgba(255,255,255,0.7);
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 2vh;
    }


    /* global radio box settings */

    .radio-custom:checked ~ label {
        background: #007bff;
        color: white;
    }

    .radio-custom-label:hover{
        -webkit-box-shadow:none !important;
        box-shadow: none !important;
        background: rgba(0,0,0,.1);
    }

    @media only screen and (max-width: 900px) {
        .zhaw-logo {
            width: 100px;
            height: 100px;
        }

        .zhaw-title {
            font-size: 20px;
        }

        .single-likert .single-likert-container > div, .multiple-picture-selection .multiple-picture-selection-container > div{
            height: 11em;
            width: 11em;
            margin: 5px;
        }

        .picture-checker:checked ~ label {
            border: 5px solid  #007bff !important;
        }
    }


    @media only screen and (max-width: 600px) {
        .zhaw-logo {
            width: 100px;
            height: 100px;
        }

        .zhaw-title {
            font-size: 20px;
        }

        .single-likert .single-likert-container > div, .multiple-picture-selection .multiple-picture-selection-container > div{
            height: 8em;
            width: 8em;
            margin: 5px;
        }

        .picture-checker:checked ~ label {
            border: 5px solid  #007bff !important;
        }
    }

    @media only screen and (max-width: 400px) {
        .zhaw-logo {
            width: 100px;
            height: 100px;
        }

        .zhaw-title {
            font-size: 20px;
        }

        .single-likert .single-likert-container > div, .multiple-picture-selection .multiple-picture-selection-container > div{
            height: 6em;
            width: 6em;
            margin: 5px;
        }

        .picture-checker:checked ~ label {
            border: 5px solid  #007bff !important;
        }
    }

    .likert-1 {
        color: red !important;
    }

    .likert-3 {
        color: #ffa101 !important;
    }

    .likert-5 {
        color: green !important;
    }

    .pointer{
        cursor: pointer;
    }
</style>
