<template>
    <div class="mt-3">
        <p class="text-justify">Möchtest du herausfinden, welche Weiterbildungen zu deinen beruflichen und persönlichen Fähigkeiten / Interessen passen?</p>


        <p class="text-justify">Dieser Onlineberater beinhaltet alle nötigen Informationen, um dich bei deiner Entscheidung zu unterstützen. Aufgrund von spezifischen Fragen kann dieser digitale Berater dir aufzeigen, welche MAS- und CAS-Kurse zu deinem persönlichen Profil passen:</p>
        <ul>
            <li>Ermittlung deiner fachlichen und persönlichen Fähigkeiten / Interessen.</li>
            <li>Empfehlung passender Weiterbildungsangebote.</li>
            <li>Begründungen hinsichtlich deines spezifischen Profils.</li>
            <li>Grundlage für eine persönliche Beratung.</li>
        </ul>
        <p>Der Berater umfasst folgende MAS- und die dazugehörigen CAS-Kurse:</p>
        <div class="text-center">
            <div id="mas-container" class="d-flex flex-row">
                <div>
                    <img class="shadow"  alt="ZHAW MAS für Wirtschaftsinformatik" src="../assets/management.jpg">
                    <div class="d-none d-sm-block">IT-Leadership & TechManagement</div>
                </div>
                <div>
                    <img class="shadow" alt="ZHAW MAS für Wirtschaftsinformatik" src="../assets/transformation.jpg">
                    <div  class="d-none d-sm-block">Digitale Transformation</div>
                </div>
                <div>
                    <img class="shadow" alt="ZHAW MAS für Wirtschaftsinformatik" src="../assets/engineering.jpg">
                    <div  class="d-none d-sm-block">Business Engineering</div>
                </div>
            </div>
        </div>

        <div class="text-center d-flex flex-column align-items-stretch flex-md-row justify-content-md-start align-items-sm-center mt-3">
            <b-button id="zhaw-acceptance-criterias" class="zhaw-start-buttons" block  size="lg" to="/zulassungskriterien">Zulassungskriterien überprüfen</b-button>
            <b-button id="zhaw-start-consultation" class="zhaw-start-buttons" block  size="lg" to="/initiale-angaben" variant="primary">Beratung starten!</b-button>
        </div>
    </div>
</template>

<script>
    import {herokuApi, mockApi, isUsingMockData} from "../api/axiosConfig";
    import sharedStore from "../state-management/store";

    export default {
        name: "ConsultationStart",
        data() {
            return {
                sessionToken: null,
                axiosErrors: [],
                axiosHasError: false,
                axiosLoading: true,
                isIE11: sharedStore.state.isIE11
            }
        },
        methods: {
            async createSession() {
                sharedStore.state.recommenderResult = null;
                sharedStore.state.recommenderResultOutput = null;
                if (!isUsingMockData) {
                    await herokuApi
                        .get('/recommender/createSession', {
                            /* Sets an initial value for the session management.
                            Will then be overwritten by the code in the following then(). */
                            headers: { 're-session-token': 0 }
                        })
                        .then(response => {
                            /* Sets for all following requests the same session token.
                            Will be overwritten as soon, as this createSession() method will be called again. */
                            this.sessionToken = response.data;
                            herokuApi.defaults.headers.common['re-session-token'] = this.sessionToken;
                        })
                        .catch(error => {
                            this.axiosErrors.push(error);
                            this.axiosHasError = true
                        })
                        .finally(() => this.axiosLoading = false)
                } else {
                    await mockApi
                        .get('/createSession.json', {
                            headers: { 're-session-token': 0 }
                        })
                        .then(response => {
                            this.sessionToken = response.data;
                            herokuApi.defaults.headers.common['re-session-token'] = this.sessionToken;
                        })
                        .catch(error => {
                            this.axiosErrors.push(error);
                            this.axiosHasError = true
                        })
                        .finally(() => this.axiosLoading = false)
                }
            },
        },
        mounted() {
            sharedStore.setIsInitSessionFinished(null);
            sharedStore.setTableNumber(1);
            sharedStore.setProgressValue(0);
            sharedStore.increaseProgressValue(10);
            sharedStore.resetInitialForm();
            this.createSession()
        }
    }
</script>

<style scoped>
    .zhaw-start-buttons {
        padding: 15px;
        margin-bottom: 10px !important;
    }
    #zhaw-overview-img{
        height: auto;
        width: 80%;
    }
    #mas-container{
        width: 100%;
        margin: 0 auto;
    }
    #mas-container > div{
        width: calc(100%/3);
        text-align: center;
        padding: 10px;
    }

    #mas-container div img {
        max-width: 40%;
        height: auto;
        margin-bottom: 5px;
    }
</style>