<template>
    <div>
        <b-form @submit="onSubmit">
            <div class="question-wrapper">
                <div v-if="questionType != 'MULTIPLE_PICTURE_SELECTION'" class="question-header"
                     v-bind:style="{background: headerImage}"
                >
                </div>
                <div class="question-text" v-if="false"></div>
                <div class="question-content">
                    <div v-if="questionType === 'SINGLE_LIKERT'" >
                        <div class="single-likert" v-for="(item, index) in items" :key="item.id">
                            <div class="question">
                                {{item.text}}
                            </div>
                            <div class="single-likert-container d-flex flex-row justify-content-around align-items-stretch">
                                <div>
                                    <input class="radio-custom d-none" type="radio" :id="item.dimension+1" value="1"
                                           v-model="selectedRatings[index]" @change="waitAndSave()">
                                    <label :for="item.dimension+1"
                                           class="radio-custom-label shadow d-flex flex-column justify-content-center align-items-center">
                                        <div class="icon-container likert-1 d-flex flex-column justify-content-center align-items-center">
                                            <font-awesome-icon :icon="['fas', 'frown']"/>
                                        </div>
                                        gar nicht
                                    </label>
                                </div>
                                <div>
                                    <input class="radio-custom d-none" type="radio" :id="item.dimension+2" value="2"
                                           v-model="selectedRatings[index]" @change="waitAndSave()">
                                    <label :for="item.dimension+2"
                                           class="radio-custom-label shadow d-flex flex-column justify-content-center align-items-center">
                                        <div class="icon-container likert-3 d-flex flex-column justify-content-center align-items-center">
                                            <font-awesome-icon :icon="['fas', 'meh']"/>
                                        </div>
                                        etwas
                                    </label>
                                </div>
                                <div>
                                    <input class="radio-custom d-none" type="radio" :id="item.dimension+3" value="3"
                                           v-model="selectedRatings[index]" @change="waitAndSave()">
                                    <label :for="item.dimension+3"
                                           class="radio-custom-label shadow d-flex flex-column justify-content-center align-items-center ">
                                        <div class="icon-container likert-5 d-flex flex-column justify-content-center align-items-center">
                                            <font-awesome-icon :icon="['fas', 'smile']"/>
                                        </div>
                                        sehr
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="questionType === 'SINGLE_TEXT_SELECTION'">
                        <div class="single-text-selection" v-for="(item, index) in items" :key="item.id">
                            <div class="question">
                                {{item.text.split('|')[0]}}
                            </div>
                            <div class="single-text-selection-container d-flex flex-column justify-content-around align-items-stretch">
                                <div>
                                    <input class="radio-custom d-none" type="radio" :id="item.dimension+1" value="1"
                                           v-model="selectedRatings[index]" @change="waitAndSave()">
                                    <label :for="item.dimension+1"
                                           class="radio-custom-label shadow d-flex flex-column justify-content-center align-items-center">
                                        {{item.text.split('|')[1]}}
                                    </label>
                                </div>
                                <div>
                                    <input class="radio-custom d-none" type="radio" :id="item.dimension+2" value="2"
                                           v-model="selectedRatings[index]" @change="waitAndSave()">
                                    <label :for="item.dimension+2"
                                           class="radio-custom-label shadow d-flex flex-column justify-content-center align-items-center">
                                        {{item.text.split('|')[2]}}
                                    </label>
                                </div>
                                <div>
                                    <input class="radio-custom d-none" type="radio" :id="item.dimension+3" value="3"
                                           v-model="selectedRatings[index]" @change="waitAndSave()">
                                    <label :for="item.dimension+3"
                                           class="radio-custom-label shadow d-flex flex-column justify-content-center align-items-center ">
                                        {{item.text.split('|')[3]}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="questionType === 'MULTIPLE_PICTURE_SELECTION'" class="mt-4">
                        <div class="multiple-picture-selection">
                            <div class="question">
                                Wähle bitte diejenigen Bilder, mit welchen du dich persönlich identifizieren kannst:
                            </div>
                            <div class="multiple-picture-selection-container d-flex flex-row justify-content-around align-items-stretch">
                                <div v-for="(item, index) in items" :key="item.id">
                                    <input class="picture-checker d-none" type="checkbox" :id="item.dimension" value="hey+index" v-model="selectedRatings[index]" false-value="1"  true-value="3" @change="checkboxChanges()">
                                    <label :for="item.dimension"
                                           class="picture-checker-label shadow d-flex flex-column justify-content-end align-items-center"
                                           v-bind:style="{background: cssBgImageById(item.id)}">
                                        <div class="description">{{item.dimension}}</div>
                                    </label>
                                    <div class="icon-container d-flex flex-column justify-content-center align-items-center" :id="item.dimension+'icon'">
                                        <font-awesome-icon :icon="['fas', 'info-circle']"/>
                                    </div>
                                    <b-tooltip :target="item.dimension+'icon'" triggers="hover" placement="bottom" variant="secondary">
                                        {{ item.text}}
                                    </b-tooltip>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="['DEFAULT_TABLE'].includes(questionType)">
                        <b-table
                                :busy="axiosLoading"
                                :fields="fields"
                                :items="items"
                                hover
                                responsive
                                stacked="sm"
                                striped>
                            <template v-slot:table-busy>
                                <div class="text-center text-secondary my-2">
                                    <b-spinner class="align-middle" type="grow"/>
                                </div>
                            </template>
                            <template v-slot:cell(question)="data">
                                <!-- If/else is needed because not every Interest has a defined text/question. -->
                                <span v-if="data.item.text !== null">{{ data.item.text }}</span>
                                <span v-else>{{ data.item.name }}</span>
                                <i :title="'Platzhalter-Beschreibung: ' + data.item.description" class="zhaw-tooltip"
                                   v-b-tooltip.hover>
                                    <font-awesome-icon :icon="['fas', 'info-circle']"/>
                                </i>
                            </template>
                            <template v-slot:cell(option1)="data">
                                <label>
                                    <b-form-radio :name="data.item.name" :value="1"
                                                  v-model="selectedRatings[data.index]" required/>
                                </label>
                            </template>
                            <template v-slot:cell(option2)="data">
                                <label>
                                    <b-form-radio :name="data.item.name" :value="1"
                                                  v-model="selectedRatings[data.index]" required/>
                                </label>
                            </template>
                            <template v-slot:cell(option3)="data">
                                <label>
                                    <b-form-radio :name="data.item.name" :value="2"
                                                  v-model="selectedRatings[data.index]" required/>
                                </label>
                            </template>
                            <template v-slot:cell(option4)="data">
                                <label>
                                    <b-form-radio :name="data.item.name" :value="2"
                                                  v-model="selectedRatings[data.index]" required/>
                                </label>
                            </template>
                            <template v-slot:cell(option5)="data">
                                <label>
                                    <b-form-radio :name="data.item.name" :value="3"
                                                  v-model="selectedRatings[data.index]" required/>
                                </label>
                            </template>
                        </b-table>
                    </div>
                </div>
            </div>

            <div class="actions d-flex flex-column align-items-stretch flex-sm-row justify-content-sm-start align-items-sm-center">
                <b-button @click="goBack" >
                    <font-awesome-icon :icon="['fas', 'chevron-left']"/>
                    Zurück
                </b-button>
                <CancelButton router-link="/start" class="ml-sm-auto"/>
                <b-button @click="saveInterests" to="/ergebnisse" v-if="resultIsReady && lastInterestQuestions"
                          variant="primary">
                    <font-awesome-icon :icon="['fas', 'poll-h']"/>
                    Ergebnis anzeigen
                </b-button>
                <b-button type="submit" v-if="!lastInterestQuestions" variant="primary" :disabled="hideNextButton">
                    <font-awesome-icon :icon="['fas', 'chevron-right']"/>
                    Weiter
                </b-button>
            </div>
        </b-form>
    </div>
</template>

<script>
    import {herokuApi, isUsingMockData, mockApi} from "../api/axiosConfig";
    import CancelButton from "./helper-components/CancelButton";
    import sharedStore from "../state-management/store";

    /* TODO: Maybe Refactoring this component to split the table and the view into two different components.
        Could lead to a easier & better State Management. */

    export default {
        name: "InterestForm",
        components: {CancelButton},
        data() {
            return {
                fields: [
                    {key: 'question', label: 'Interessen'},
                    {key: 'option1', label: 'gar nicht', class: 'text-center'},
                    {key: 'option2', label: 'wenig', class: 'text-center'},
                    {key: 'option3', label: 'etwas', class: 'text-center'},
                    {key: 'option4', label: 'ziemlich', class: 'text-center'},
                    {key: 'option5', label: 'sehr', class: 'text-center'},
                ],
                items: [],
                selectedRatings: [],
                notAtAll: 'NotAtAll',
                littleBit: 'LittleBit',
                someBit: 'SomeBit',
                much: 'Much',
                veryMuch: 'VeryMuch',
                resultIsReady: false,
                lastInterestQuestions: false,
                questionType: null,
                questionOptions: [],
                pageId: 0,
                axiosErrors: [],
                axiosHasError: false,
                axiosLoading: true,
                questionId: null,
                hideNextButton: false
            }
        },
        computed: {
            /* Takes the initial Interest-Items Array and puts in the Likert-Values from the table. */
            itemsWithLikertValues: function () {
                this.items.forEach((obj, index) => {
                    obj.rating = this.selectedRatings[index]
                });
                return this.items
            },
            /* Enables a workaround for the form validation. */
            isFormComplete: function () {
                let selectedItems = [];
                this.items.forEach((obj, index) => {
                    selectedItems[index] = this.selectedRatings[index] >= 0 && this.selectedRatings[index] !== null;
                });
                return !selectedItems.includes(false);
            },
            progressValue: function () {
                return sharedStore.state.progressValue
            },
            headerImage: function () {
                let imageUrl = require(`@/assets/pageid/${'1'}.jpg`);
                if (this.questionId) {
                    try {
                        imageUrl = require(`@/assets/pageid/${this.questionId}.jpg`);
                    } catch (e) {
                        console.error('can not load header image');
                    }
                }
                return `linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 1)), url(${imageUrl}) no-repeat center center`;
            }
        },
        methods: {
            async waitAndSave() {
                this.hideNextButton = true;
                if (this.resultIsReady && !this.lastInterestQuestions) {
                    await setTimeout(this.manageInterestsAndAdvance, 500);
                } else {
                    await this.saveInterests();
                    this.$router.push({path: '/ergebnisse'});
                }
            },
            checkboxChanges: function (){
            },
            async manageInterestsAndAdvance() {
                sharedStore.increaseProgressValue(7.1);
                sharedStore.increaseTableNumber(1);
                await this.saveInterests();
                await this.loadInterests();
                this.hideNextButton = false;
                this.$router.push({name: 'page', params: {id: sharedStore.state.tableNumber.toString()}});
            },
            async loadInterests() {
                if (!isUsingMockData) {
                    /* GET interests (loads the interests to be shown in the table) */
                    await herokuApi
                        .get('/recommender/questions', {
                            params: {
                                page: sharedStore.state.tableNumber,
                                size: 1
                            }
                        })
                        .then(response => {
                            if(this.items.length === 1){
                                this.questionId = response.data.interests[0].id;
                            }
                            this.items = response.data.interests;
                            this.resultIsReady = response.data.hasResult;
                            this.lastInterestQuestions = response.data.lastInterests;
                            this.questionOptions = response.data.questionOptions;
                            this.questionType = response.data.questionType;
                            this.pageId = response.data.page;
                            this.items.forEach((obj, index) => {
                                this.selectedRatings[index] = response.data.interests[index].rating;
                            });

                        })
                        .catch(error => {
                            this.axiosErrors.push(error);
                            this.axiosHasError = true
                        })
                        .finally(() => this.axiosLoading = false)
                } else {
                    await mockApi
                        .get('/interests.json')
                        .then(response => {
                            this.items = response.data.interests;
                            this.resultIsReady = response.data.hasResult;
                            this.lastInterestQuestions = response.data.lastInterests;
                        })
                        .catch(error => {
                            this.axiosErrors.push(error);
                            this.axiosHasError = true
                        })
                        .finally(() => this.axiosLoading = false)
                }
            },
            async saveInterests() {
                /* POST interests (saves the selected interests with their Likert-Values from the table) */
                await herokuApi
                    .post('/recommender/updateSession', this.itemsWithLikertValues) // Possible like this?
                    .then()
                    .catch(error => {
                        this.axiosErrors.push(error);
                        this.axiosHasError = true
                    })
                    .finally(() => this.axiosLoading = false);
                this.selectedRatings = [] // Reset array to the initial state.
            },
            goBack() {
                sharedStore.decreaseProgressValue(15);
                if (sharedStore.state.tableNumber > 1) { // Only reduce the tableNumber to the initial value 1 and not more, or it could load the interests when it's actually not needed.
                    sharedStore.decreaseTableNumber(1);
                    this.loadInterests();
                }
                this.$router.go(-1);
            },
            onSubmit(evt) {
                evt.preventDefault();
                this.manageInterestsAndAdvance();
            },
            cssBgImageById(id) {
                let imageUrl = require(`@/assets/pageid/${'1'}.jpg`);
                try {
                    console.log(`@/assets/pageid/${id}.jpg`);
                    imageUrl = require(`@/assets/pageid/${id}.jpg`);
                } catch (e) {
                    console.log('can not load header image');
                }
                return `url(${imageUrl}) no-repeat center center`;
            }
        },
        mounted() {
            // Initially load the interests when opening the Interest Table view/component for the first time.
            // Using a Workaround with setTimeout, because the /interests should not be loaded before /initSession is finished.
            setTimeout(this.loadInterests, 250)
        }
    }
</script>

<style scoped>
    label {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
</style>