<template>
    <div class="mt-3">
        <h2>Empfehlung MAS {{ courses.masCourse }}:</h2>
        <div class="d-flex flex-column flex-lg-row">
            <div class="mr-3">
                <b-alert :show="axiosHasError" variant="danger">Die Ergebnisse können aufgrund eines Systemfehlers leider nicht
                    angezeigt werden.
                </b-alert>

                <p>Aufgrund der ausgewählten Interessen empfehlen wir den MAS {{ courses.masCourse }}.</p>
                <div v-if="courses.explanations.length > 0">
                    <ul>
                        <li v-bind:key="explanation.index" v-for="explanation in courses.explanations">{{ explanation }}
                        </li>
                    </ul>
                </div>
                <p style="font-size: 12px">
                    Die blaue Box verdeutlicht die Wahl- und Pflicht CAS-Kurse, welche zum MAS {{ courses.masCourse }} gehören.
                    Zudem zeigt dir die graue Box auf, welche CAS-Kurse ebenfalls noch zu deinem Profil passen könnten.
                    Genauere Informationen zu den jeweilgen Kursen können durch einen Klick auf die entsprechende Box geöffnet werden:
                </p>
            </div>
            <div style="min-width: 50%;">
               <SpiderChart :product="courses.product" :userConfigs="courses.userConfigurations"></SpiderChart>
            </div>
        </div>

        <div ref="results" >
            <div class="row">
                <div class="col">
                    <div class="zhaw-result-panel-overview bg-mas">
                        <div class="zhaw-result-panel-title">Empfehlungen</div>
                        <div class="zhaw-result-subpanel">
                            <div class="zhaw-result-panel-subtitle">MAS</div>
                            <ResultOverviewPanel @click="showMasDetails"
                                                 :course-name="courses.masCourse"
                                                 course-type="MAS"
                                                 :recommendation-score="courses.score"
                                                 :is-selected="showsMasDetails"
                            />
                        </div>
                        <div class="zhaw-result-subpanel">
                            <div class="zhaw-result-panel-subtitle">Pflicht</div>
                            <ResultOverviewPanel v-for="mandatoryCourse in courses.mandatory.recommendations"
                                                 v-bind:key="mandatoryCourse.id"
                                                 @click="showCasDetails(mandatoryCourse)"
                                                 :course-name="mandatoryCourse.name"
                                                 course-type="CAS"
                                                 :recommendation-score="mandatoryCourse.score"
                                                 :is-selected="casIsSelected(mandatoryCourse)"
                            />
                        </div>
                        <div class="zhaw-result-subpanel" v-for="optionalCourses in courses.options"
                             v-bind:key="optionalCourses.id">
                            <div v-if="optionalCourses.recommendations.length > 0" class="zhaw-result-panel-subtitle">{{
                                optionalCourses.name }}
                            </div>
                            <ResultOverviewPanel v-for="recommendedOption in optionalCourses.recommendations"
                                                 v-bind:key="recommendedOption.id"
                                                 @click="showCasDetails(recommendedOption)"
                                                 :course-name="recommendedOption.name"
                                                 course-type="CAS"
                                                 :recommendation-score="recommendedOption.score"
                                                 :is-selected="casIsSelected(recommendedOption)"
                            />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="zhaw-result-panel-overview">
                        <div class="zhaw-result-panel-title">Sonstige Module</div>
                        <div class="zhaw-result-subpanel" v-for="optionalCourses in courses.options"
                             v-bind:key="optionalCourses.id">
                            <div v-if="optionalCourses.options.length > 0" class="zhaw-result-panel-subtitle">{{
                                optionalCourses.name }}
                            </div>
                            <ResultOverviewPanel v-for="otherOption in optionalCourses.options"
                                                 v-bind:key="otherOption.id"
                                                 @click="showCasDetails(otherOption)"
                                                 :course-name="otherOption.name"
                                                 course-type="CAS"
                                                 :recommendation-score="otherOption.score"
                                                 :is-selected="casIsSelected(otherOption)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div id="zhaw-result-details" class="row">
            <div class="col">
                <ResultDetailsPanel v-if="showsMasDetails"
                                    :course-name="courses.masCourse"
                                    :course-type="courses.type"
                                    :course-icon="courses.icon"
                                    :course-description="courses.description"
                                    :course-explanations="courses.explanations"
                                    :course-start="courses.courseStart"
                                    :course-url="courses.url"
                                    :course-ects="courses.ects"
                                    :recommendation-score="courses.score"
                                    :user-configurations="courses.userConfigurations"
                />

                <ResultDetailsPanel v-if="showsCasDetails"
                                    :course-name="selectedCasCourse.name"
                                    course-type="CAS"
                                    :course-icon="selectedCasCourse.urlIcon"
                                    :course-description="selectedCasCourse.description"
                                    :course-explanations="selectedCasCourse.explanations"
                                    :course-start="selectedCasCourse.start"
                                    :course-url="selectedCasCourse.urlWeb"
                                    :course-ects="selectedCasCourse.ectsCount"
                                    :recommendation-score="selectedCasCourse.score"
                                    :user-configurations="courses.userConfigurations"
                />
            </div>
        </div>
        <ResultsButtons v-on:create-pdf="createPDF"></ResultsButtons>
    </div>
</template>

<script>
    import ResultsButtons from "./ResultsButtons";
    import {herokuApi, isUsingMockData, mockApi} from "../../api/axiosConfig";
    import ResultDetailsPanel from "./ResultDetailsPanel";
    import ResultOverviewPanel from "./ResultOverviewPanel";
    import sharedStore from "../../state-management/store";
    import SpiderChart from "./SpiderChart";

    export default {
        name: "Results",
        components: {ResultOverviewPanel, ResultDetailsPanel, ResultsButtons, SpiderChart},
        data() {
            return {
                courses: {
                    masCourse: null,
                    type: 'MAS',
                    url: null,
                    icon: null,
                    description: null,
                    explanations: [],
                    ects: null,
                    courseStart: null,
                    score: null,
                    mandatory: {},
                    options: {},
                    userConfigurations: [],
                    product:null
                },
                chartData:{
                    categories:null,
                    user:null,
                    product: null,
                },
                showsMasDetails: false,
                showsCasDetails: false,
                selectedCasCourse: {},
                panelIsSelected: false,
                windowWidth: window.innerWidth,
                axiosErrors: [],
                axiosHasError: false,
                axiosLoading: true,
                isPrinting: false
            }
        },
        methods: {
            async loadResult() {
                if (!isUsingMockData ) {
                    if (sharedStore.state.recommenderResult) {
                        const response = sharedStore.state.recommenderResult;
                        this.courses.masCourse = response.data.name;
                        this.courses.url = response.data.urlWeb;
                        this.courses.icon = response.data.urlIcon;
                        this.courses.description = response.data.description;
                        this.courses.explanations = response.data.explanations;
                        this.courses.ects = response.data.ectsCount;
                        this.courses.courseStart = response.data.start;
                        this.courses.score = response.data.score;
                        this.courses.mandatory = response.data.mandatoryBundle;
                        this.courses.options = response.data.optionBundles;
                        this.courses.product = response.data.product;
                        this.courses.userConfigurations = response.data.userConfigurations;
                    } else {
                        await herokuApi
                            .get('/recommender/result')
                            .then(response => {
                                sharedStore.state.recommenderResult = response;
                                this.courses.masCourse = response.data.name;
                                this.courses.url = response.data.urlWeb;
                                this.courses.icon = response.data.urlIcon;
                                this.courses.description = response.data.description;
                                this.courses.explanations = response.data.explanations;
                                this.courses.ects = response.data.ectsCount;
                                this.courses.courseStart = response.data.start;
                                this.courses.score = response.data.score;
                                this.courses.mandatory = response.data.mandatoryBundle;
                                this.courses.options = response.data.optionBundles;
                                this.courses.product = response.data.product;
                                this.courses.userConfigurations = response.data.userConfigurations;
                            })
                            .catch(error => {
                                this.axiosErrors.push(error);
                                this.axiosHasError = true
                            })
                            .finally(() => this.axiosLoading = false)
                    }

                } else {
                    await mockApi
                        .get('/result.json')
                        .then(response => {
                            sharedStore.state.recommenderResult = response;
                            this.courses.masCourse = response.data.name;
                            this.courses.url = response.data.urlWeb;
                            this.courses.icon = response.data.urlIcon;
                            this.courses.description = response.data.description;
                            this.courses.explanations = response.data.explanations;
                            this.courses.ects = response.data.ectsCount;
                            this.courses.courseStart = response.data.start;
                            this.courses.score = response.data.score;
                            this.courses.mandatory = response.data.mandatoryBundle;
                            this.courses.options = response.data.optionBundles;
                            this.courses.product = response.data.product;
                            this.courses.userConfigurations = response.data.userConfigurations;
                        })
                        .catch(error => {
                            this.axiosErrors.push(error);
                            this.axiosHasError = true
                        })
                        .finally(() => this.axiosLoading = false)
                }
                sharedStore.state.recommenderResultOutput = this.generateRecommenderHtmlOutput();
            },
            showMasDetails: function () {
                this.showsCasDetails = false;
                document.getElementById("zhaw-result-details").scrollIntoView();
                return this.showsMasDetails = true;
            },
            showCasDetails: function (selectedCasCourse) {
                this.showsMasDetails = false;
                document.getElementById("zhaw-result-details").scrollIntoView();
                this.selectedCasCourse = selectedCasCourse;
                return this.showsCasDetails = true;
            },
            createPDF: function () {
                this.showsMasDetails = true;
                setTimeout(()=>{
                    window.print();
                },200);
            },
            casIsSelected: function (casCourse) {
                return this.selectedCasCourse === casCourse && !this.showsMasDetails;
            },
            generateRecommenderHtmlOutput(){
                const data = sharedStore.state.recommenderResult.data;
                return `
                <h1>Empfehlung</h1>
                <p>
                MAS: ${data.name} <br>
                Score: ${data.score}%
                </p>
                <h2>Pflicht CAS:</h2>
                ${this.generateCasBundleTable(data.mandatoryBundle.recommendations)}
                <h2>Wahlpflicht CAS:</h2>
                ${data.optionBundles.length ? this.generateCasBundleTable(data.optionBundles[0].recommendations) : ''}
                <h2>Sonstige CAS Empfehlungen:</h2>
                ${data.optionBundles.length ?  this.generateCasBundleTable(data.optionBundles[0].options) : ''}
                <h1>User Profil</h1>
                ${this.generateUserConfigTable(data.userConfigurations)}
                `;
            },
            generateCasBundleTable(casList){
                const content = casList.map(cas=>`
                <tr>
                    <td>${cas.name}</td>
                    <td>${cas.score}%</td>
                    <td>${this.generateExplanationsList(cas.explanations)}</td>
                </tr>
                `).join('');
                return `<table width="100%" border="1" style="table-layout: fixed;">${content}</table>`;
            },
            generateExplanationsList(explantions){
                const content = explantions.map(ex=>`
                <li>${ex}</li>
                `).join('');
                return `<ul>${content}</ul>`;
            },
            generateUserConfigTable(userConfigurations){
                const data = sharedStore.state;
                const personData = `
                <p>
                Geschlecht: ${data.initialForm.selectedGender}
                </p>
                <h2>Interessen/Fähigkeiten</h2>
                `;
                const content = userConfigurations.map(config=>`
                <tr>
                    <td>${config.dimension}</td>
                    <td>${config.type}</td>
                    <td>${config.rating}</td>
                </tr>
                `).join('');
                return `${personData}<table width="100%" border="1" style="table-layout: fixed;">${content}</table>`;
            }
        },
        mounted() {
            setTimeout(this.loadResult, 0);
            window.addEventListener('resize', () => {
                this.windowWidth = window.innerWidth
            })
        }
    }
</script>

<style scoped>
    .zhaw-result-panel-overview {
        background-color: #e4e4e4;
        padding: 10px 5px 5px;
        margin-bottom: 10px;
        border: 1px solid #5555551f;
    }

    .zhaw-result-panel-title {
        color: #555555;
        font-size: 14px;
        font-weight: bold;
        padding: 1px 10px;
    }

    .zhaw-result-panel-subtitle {
        color: #555555;
        font-size: 14px;
        padding-left: 5px;
        /*
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        */
    }

    .zhaw-result-subpanel {
        padding-left: 10px;
        padding-top: 10px;
    }

    .bg-mas{
        background-color: #dcefff !important;
    }
</style>