<template>
    <div>
        <VueApexCharts type="radar" :options="options" :series="series"></VueApexCharts>
    </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    export default {
        name: "SpinderChart",
        components: {VueApexCharts},
        props: {
            product: Object,
            userConfigs: Array,
        },
        data() {
            return {
                categories: null,
                options: {
                    chart: {
                        type: 'radar'
                    }
                },
                series:[],
            }
        },
        methods:{
            generateChartData(){
                let ud = this.userConfigs.sort((a,b)=>this.sortFunction(a,b));
                // ud = ud.filter(data=>data.type==='Fachlich');
                this.categories = ud.map((data) => {
                    const splitted = data.filterParameter.split('c_pref_')
                    return {
                        id:splitted[1],
                        text:data.dimension
                    }
                });
                const categories = ud.map(data=>data.dimension.replace('/','/ ').split(' '));
                this.options = {
                    chart: {
                        type: 'radar',
                        toolbar: {
                            show: false,
                        }
                    },
                    xaxis: {
                        type: 'category',
                        categories: categories,
                        range:2,
                        labels: {
                            show: true,
                            style: {
                                fontSize: "8px",
                                fontFamily: 'Arial'
                            }
                        }
                    },
                    yaxis:{
                        min: 0,
                        max: 100,
                        tickAmount: 2,
                    }
                }
                const userRatingData = ud.map(data=>this.prepareRating(data.rating));
                const productRatingData = this.categories.map(category=>{
                    return this.prepareRating(Object.entries(this.product.properties).find(product=>product[0].includes(category.id))[1])
                })
                this.series = [
                    {
                        name: 'MAS Profil',
                        data:productRatingData
                    },
                    {
                        name: 'Präferenzen',
                        data:userRatingData
                    }
                ]
            },
            sortFunction(a,b){
                if (a.type > b.type) {
                    return -1;
                } else if (a.type < b.type) {
                    return 1;
                } else {
                    if (a.dimension > b.dimension) {
                        return 1;
                    } else if (a.dimension < b.dimension) {
                        return -1;
                    } else {
                        return 0;
                    }
                }
            },
            prepareRating(value){
                const prepared = (value < 1 ? 1 : value)-1;
                return 100/2*prepared;
            }
        },
        watch: {
            userConfigs: function(newVal, oldVal) { // watch it
                if(newVal !== oldVal){
                    this.generateChartData();
                }
            }
        }
    }
</script>

<style scoped>

</style>