<template>
    <b-button @click="goBack">
        <font-awesome-icon :icon="['fas', 'chevron-left']"/>
        Zurück
    </b-button>
</template>

<script>
    import sharedStore from "../../state-management/store";

    export default {
        name: "BackButton",
        props: {
            interestsUrl: String
        },
        methods: {
            goBack: function () {
                if(this.$route.name === 'result'){
                    sharedStore.state.recommenderResult = null;
                }
                this.$router.go(-1);
            }
        }
    }
</script>

<style scoped>

</style>